In [21]:
import csv, json
import pandas as pd

In [30]:
data = []
with open('teams.csv','r') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        data.append(row)
with open('teams.json','w') as jsonfile:
    json.dump(data,jsonfile,indent=2)

In [23]:
teams_df = pd.read_csv('teams.csv')
teams_df

                 TEAM_NAME TEAM_ABBREVIATION     TEAM_ID
0            Atlanta Hawks               ATL  1610612737
1           Boston Celtics               BOS  1610612738
2      Cleveland Cavaliers               CLE  1610612739
3     New Orleans Pelicans               NOP  1610612740
4            Chicago Bulls               CHI  1610612741
5         Dallas Mavericks               DAL  1610612742
6           Denver Nuggets               DEN  1610612743
7    Golden State Warriors               GSW  1610612744
8          Houston Rockets               HOU  1610612745
9     Los Angeles Clippers               LAC  1610612746
10      Los Angeles Lakers               LAL  1610612747
11              Miami Heat               MIA  1610612748
12         Milwaukee Bucks               MIL  1610612749
13  Minnesota Timberwolves               MIN  1610612750
14           Brooklyn Nets               BKN  1610612751
15         New York Knicks               NYK  1610612752
16           Orlando Magic               ORL  1610612753
17          Indiana Pacers               IND  1610612754
18      Philadelphia 76ers               PHI  1610612755
19            Phoenix Suns               PHX  1610612756
20  Portland Trail Blazers               POR  1610612757
21        Sacramento Kings               SAC  1610612758
22       San Antonio Spurs               SAS  1610612759
23   Oklahoma City Thunder               OKC  1610612760
24         Toronto Raptors               TOR  1610612761
25               Utah Jazz               UTA  1610612762
26       Memphis Grizzlies               MEM  1610612763
27      Washington Wizards               WAS  1610612764
28         Detroit Pistons               DET  1610612765
29       Charlotte Hornets               CHA  1610612766

In [24]:
teams_json = teams_df.to_json('teams.json')