# Practice with fetching data from nba_api
Practice fetching player/team stats from nba_api, including both the static and endpoint classes of the stats library

In [ ]:
from nba_api.stats.static import teams
from nba_api.stats.static import players
from nba_api.stats.endpoints import leaguegamefinder
import csv, json
import pandas as pd

In [40]:
nba_teams = teams.get_teams()
print("Number of teams fetched: {}".format(len(nba_teams)))
nba_teams[:3]

Number of teams fetched: 30

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Georgia',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970}]

In [3]:
blazers = [team for team in nba_teams if team["full_name"]=="Portland Trail Blazers"][0]
blazers

{'id': 1610612757,
 'full_name': 'Portland Trail Blazers',
 'abbreviation': 'POR',
 'nickname': 'Trail Blazers',
 'city': 'Portland',
 'state': 'Oregon',
 'year_founded': 1970}

In [7]:
nba_players = players.get_players()
the_king = [player for player in nba_players if player["full_name"]=="LeBron James"][0]
the_king

{'id': 2544,
 'full_name': 'LeBron James',
 'first_name': 'LeBron',
 'last_name': 'James',
 'is_active': True}

In [8]:
greek_freak = [player for player in nba_players if player["full_name"]=="Giannis Antetokounmpo"][0]
greek_freak

{'id': 203507,
 'full_name': 'Giannis Antetokounmpo',
 'first_name': 'Giannis',
 'last_name': 'Antetokounmpo',
 'is_active': True}

In [44]:
active_players = [player for player in nba_players if player['is_active']]
with open("players.json",'w') as f:
    json.dump(active_players,f)

In [ ]:
with open("../src/players.json","r") as FILE:
    data = json.load(FILE)
    # print(data)

mobamba = next((player for player in data if player['id']==1628964),None)
# mobamba = list(mobamba)
print(mobamba['_full_name'])
# print(json.dumps(mobamba))

1628964

## Exporting Team Info
Here, I will export each team and their team_id into a csv

In [26]:
FILE = open("teams.csv",'w',newline='')
writer = csv.writer(FILE)
for team in nba_teams:
    writer.writerow([team['full_name'],team['id']])

## Finding Individual Games
At this time, the ECF will be Knicks vs Pacers. Let's find their previous matchups from this season

In [29]:
knicks_id = 1610612752
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=knicks_id)
games = gamefinder.get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42024,1610612752,NYK,New York Knicks,0042400216,2025-05-16,NYK vs. BOS,W,240,119,...,0.905,15,40,55,25,7,6,14,23,38.0
1,42024,1610612752,NYK,New York Knicks,0042400215,2025-05-14,NYK @ BOS,L,243,102,...,0.800,12,28,40,17,5,4,10,20,-25.0
2,42024,1610612752,NYK,New York Knicks,0042400214,2025-05-12,NYK vs. BOS,W,240,121,...,0.750,13,30,43,25,5,2,12,20,8.0
3,42024,1610612752,NYK,New York Knicks,0042400213,2025-05-10,NYK vs. BOS,L,240,93,...,0.686,17,26,43,16,3,2,11,16,-22.0
4,42024,1610612752,NYK,New York Knicks,0042400212,2025-05-07,NYK @ BOS,W,240,91,...,0.800,10,36,46,19,11,5,15,16,1.0

### Knicks vs Pacers for the 24-25 Season

In [38]:

knicks_pacers = games[games.MATCHUP.str.contains('IND')]
knicks_pacers_2425 = knicks_pacers[knicks_pacers['SEASON_ID']=='22024']
knicks_pacers_2425

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
41,22024,1610612752,NYK,New York Knicks,0022400765,2025-02-11,NYK @ IND,W,241,128,...,0.870,13,35,48,37,6,2,14,22,13.0
85,22024,1610612752,NYK,New York Knicks,0022400203,2024-11-10,NYK @ IND,L,241,121,...,0.815,8,31,39,23,5,3,13,20,-11.0
92,22024,1610612752,NYK,New York Knicks,0022400081,2024-10-25,NYK vs. IND,W,240,123,...,0.793,11,32,43,19,5,4,11,18,25.0